PORT=5000
FRONTEND_ORIGIN=http://localhost:3000
ALLOWED_ADMIN_EMAIL=pandu31417@gmail.com
OTP_EXPIRY_MS=300000
GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=jgwtanowclenilan
JWT_SECRET=replace-with-strong-secret

